@model AddUserViewModel


@{
    ViewData["Title"] = "Add New User";
}

<form asp-action="Add" method="post">
            <h2>Create a new User.</h2>
            <hr />
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-floating">
                <input asp-for="name" class="form-control" autocomplete="username" aria-required="true" maxlength="555"/>
                <label asp-for="name"></label>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" maxlength="555"/>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-floating">
                <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" maxlength="555"/>
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>*@
            <div class="form-floating">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true"maxlength="555" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"maxlength="555" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <hr/>
            <h6>Roles</h6>
            @for(int i = 0; i < Model.roles.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.roles[i].RoleName "/>
                    <input class="form-check-input" asp-for="@Model.roles[i].IsSelecte"/>
                    <label class="form-check-label" asp-for="@Model.roles[i].IsSelecte">@Model.roles[i].RoleName</label>
                </div>
            }
            <span asp-validation-for="roles" class="text-danger"></span>

            <button type="submit" class="w-100 btn btn-lg btn-primary d-block mt-4">Save</button>
        </form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}